<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652850994264-fk934kvohennatouedd5lre01o303cr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652850994264-fk934kvohennatouedd5lre01o303cr8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2yGK23khaWefAJRK86zJBgiV8vInk2y4</string>
	<key>GCM_SENDER_ID</key>
	<string>652850994264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eXpired.app</string>
	<key>PROJECT_ID</key>
	<string>expired-b4500</string>
	<key>STORAGE_BUCKET</key>
	<string>expired-b4500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652850994264:ios:331cbd5a758148e7723e2d</string>
</dict>
</plist>